<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="../static/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="../static/images/logo-dark.png" alt="" height="34">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="../static/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="../static/images/logo-light.png" alt="" height="34">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
            id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="/">
                        <i class="mdi mdi-speedometer"></i> <span data-key="t-dashboards">Ana Sayfa</span>
                    </a>
                    <a class="nav-link menu-link" href="/tedarik">
                        <i class="mdi mdi-archive"></i> <span data-key="t-dashboards">Tedarik</span>
                    </a>
                    <a class="nav-link menu-link" href="/video_feed">
                        <i class="mdi mdi-note"></i> <span data-key="t-dashboards">Üretim</span>
                    </a>
                    <a class="nav-link menu-link" href="lojistik">
                        <i class="mdi mdi-truck-fast"></i> <span data-key="t-dashboards">Lojistik</span>
                    </a>
                    <a class="nav-link menu-link" href="insan-kaynaklari">
                        <i class="mdi mdi-account"></i> <span data-key="t-dashboards">İnsan Kaynakları</span>
                    </a>
                    <a class="nav-link menu-link" href="musteri-destek">
                        <i class="mdi mdi-comment"></i> <span data-key="t-dashboards">Müşteri Destek</span>
                    </a>
                </li> <!-- end Dashboard Menu -->
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>